<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="connection.url">jdbc:oracle:thin:@localhost:1521:orbis</property>
        <property name="hibernate.connection.username">s257847</property>
        <property name="connection.password">ina914</property>
        <mapping class="ru.ifmo.lab3.database.ResultEntity"/>
    </session-factory>
</hibernate-configuration>